<div class="modal fade" bsModal #myEditmodal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit author</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="mymodal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="author">
          Edit
          Click <b>&times;</b> to close modal.<br/>


          <author-form [author1]="author"
                       (onUpdated)="onPopupUpdated($event)"
                       (onCancel)="onCancel()"></author-form>


        </div>
      </div>
    </div>
  </div>
</div>
